/*Developed by Harshit Kedia
     email: geek.harshitkedia@gmail.com
     VIT ACM Student's Chapter
*/
#content-top-row *{
	text-transform: none;
}
.ourendoh{

	text-align: left;
	min-width: 50%;
	

}
.ourendo{
	margin-top: 5%;
}
#content-top-row a:hover{

}
#content-top-row h4,#content-top-row h5,.imgcon,.names{
/*	display: inline-block;*/
}
.ourendo h4{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: Lato , sans-serif;
/*	font-family:"Times new roman";*/
}

.ourendo h5{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: Lato , sans-serif;
	color:#ccc;
	font-size: 140%;
}
.ourlegends img{
	margin-right: auto;
	margin-left: auto;
	max-height: 122px;
	min-height: 121px;
	min-width: 121px;
	max-width: 122px;
	border: solid 4px #ffffff;

	
}
.ourlegends span{
	border: solid 2px #f2f2f2;
	padding: 0.5rem;
	padding-left: 0.59rem;
	padding-right: 0.59rem;
	border-radius: 50%;


}
@media screen and (max-width:768px){
	.ourlegends .imgcon{
		margin-left: auto;
		margin-right: auto;
	}
}
.m10{
	
}
@media screen and (min-width:992px){
	.meven{

	}
}
#footer-wrapper{
	margin-top: 7%;
}
.icondiv{
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	/*margin-left: 43%;*/
	margin-top: 2%;
}
.relatdiv{
	text-align: center;
}
/*The following code for every css except mystyle.css*/
@media (max-width: 768px){
	#content-row{
		margin-top: -10% !important;
	}
}
.headerContent{
	position: relative;
}
@media (max-width:766px){
	#header-row{
		position: absolute;
		left: 2%;
		top: 0px;
	}
	.item-242 .separator{
		font-size: 1.3rem;
	}
}
@media (min-width:768px){
	#header-row{
		position: absolute;
		left: 6%;
		bottom:-28px;
	}
}
/*code ends*/
.fbicon{
	color:#3b5998 !important;
	transition:all 0.5s 0.1s;
}
.fbicon:hover{
	color:#fff !important;
}
  @media (max-width:500px){
    #content-row{
        margin-top: -12rem !important;
    }
}
@media (max-width:600px){
      #content-top-row{
          padding:0rem;
          margin-right: 0rem;
          margin-left: 0px;
     }
     #content-row{
          padding:0rem;
          margin-left: 0px;
          margin-right: 0px;
     }
     .marginzero{
          margin-left: -10px !important;
          margin-right: 0px !important;
          padding-left: 0px !important;
          padding-right: 0px !important;
          min-width: 93vw;
     }
     #aside-right{
          margin-left: 1rem;
     }
     .ourendo{
     	margin-bottom: 3rem;
     }
     .ourendoh{
     	text-align: center;
     }
}